[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
crawl = "scrapy crawl"

[packages]
scrapy = "*"
requests = "*"

[dev-packages]
shub = "*"

[requires]
python_version = "3.7"
